body {
  margin: 0;
  background-color: #ffffff;
  color: #222222;
  font-family: "Avenir", -apple-system, "Roboto", "Helvetica Neue", sans-serif;
}
@font-face {
  body {
    font-family: "Avenir";
    font-weight: 12px;
    src: url(../assets/font/BAHNSCHRIFT1.TTF);
  }
}

.navBar {
  background-color: #ffffff;
}
.navBar_navMobile {
  border-top: 1px grey solid;
  position: absolute;
  width: 100vw;
  padding-top: 2vh;
  display: flex;
  flex-direction: row;
  align-content: space-around;
  justify-content: space-evenly;
  bottom: 0;
}
.navBar_navMobile h2 {
  color: grey;
  font-size: 14px;
  text-decoration: none;
}
.navBar_navMobile h2:hover {
  color: #FF385C;
}
.navBar_navMobile_linkExplorer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.navBar_navMobile_linkExplorer_grey {
  position: absolute;
  bottom: 11, 5vh;
  z-index: 7;
  height: 50px;
  width: 50px;
}
.navBar_navMobile_linkExplorer_grey:hover {
  display: none;
}
.navBar_navMobile_linkExplorer_red {
  bottom: 11, 5vh;
  z-index: 7;
  z-index: 1;
  height: 50px;
  width: 50px;
}
.navBar_navMobile_link {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.navBar_navMobile_link_grey {
  position: absolute;
  bottom: 11, 5vh;
  z-index: 7;
  height: 50px;
  width: 50px;
}
.navBar_navMobile_link_grey:hover {
  display: none;
}
.navBar_navMobile_link_red {
  bottom: 11, 5vh;
  z-index: 7;
  z-index: 1;
  height: 50px;
  width: 50px;
}
.navBar_navMobile_linkConnexion {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.navBar_navMobile_linkConnexion_grey {
  position: absolute;
  bottom: 11, 5vh;
  z-index: 7;
  height: 50px;
  width: 50px;
}
.navBar_navMobile_linkConnexion_grey:hover {
  display: none;
}
.navBar_navMobile_linkConnexion_red {
  bottom: 11, 5vh;
  z-index: 7;
  z-index: 1;
  height: 50px;
  width: 50px;
}
@media only screen and (max-width: 1024px) {
  .navBar_navMobile {
    display: none;
  }
}
.navBar_navDesktop {
  position: sticky;
  top: 0;
  width: 100vw;
  display: none;
  text-decoration: none;
  margin: 2vw;
}
@media only screen and (max-width: 1024px) {
  .navBar_navDesktop {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
}
.navBar_navDesktop_logoDesktop {
  width: 30vw;
}
.navBar_navDesktop_logoDesktop_image {
  height: 40px;
}
.navBar_navDesktop_menu {
  width: 70vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  right: 0;
  margin-right: 6vw;
}
.navBar_navDesktop_menu h2 {
  color: grey;
  font-size: 14px;
  text-decoration: none;
}
.navBar_navDesktop_menu_linkConnexion {
  border: 1px grey solid;
  border-radius: 30px;
  width: 15vw;
  text-align: center;
}
.navBar_navDesktop_menu_linkConnexion:hover {
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.75);
}
.navBar_navDesktop_menu_link:hover {
  display: block;
  background-color: rgba(226, 226, 226, 0.678);
  border: 1px solid transparent;
  border-radius: 30px;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
}

/*# sourceMappingURL=home.css.map */
