.navBar{
    background-color:$color-background-white;
    &_navMobile{
        background-color:$color-background-white;
        border-top: 1px grey solid;
        position: absolute;
        bottom: 0;
        width: 100vw;
        padding-top: 2vh;
        display: flex;
        flex-direction: row;
        align-content: space-around;
        justify-content: space-evenly;

        & h2{
            color: grey;
            font-size: 14px;
            text-decoration: none;
            &:hover{
                color:$color-red;
            }
        }
        &_linkExplorer{
            display: flex;
            flex-direction: column;
            align-items: center;
            &_grey{
                position: absolute;
                bottom:11,5vh;
                z-index: 7;
                height:50px;
                width: 50px;
                &:hover{
                    display: none;
                }
            }
            &_red{
                bottom:11,5vh;
                z-index: 7;
                z-index: 1;
                height:50px;
                width: 50px;
            }
        }

        &_link{
            display: flex;
            flex-direction: column;
            align-items: center;
            &_grey{
                position: absolute;
                bottom:11,5vh;
                z-index: 7;
                height:50px;
                width: 50px;
                &:hover{
                    display: none;
                }
            }
            &_red{
                bottom:11,5vh;
                z-index: 7;
                z-index: 1;
                height:50px;
                width: 50px;
            }
        }

        &_linkConnexion{
            display: flex;
            flex-direction: column;
            align-items: center;
            &_grey{
                position: absolute;
                bottom:11,5vh;
                z-index: 7;
                height:50px;
                width: 50px;
                &:hover{
                    display: none;
                }
            }
            &_red{
                bottom:11,5vh;
                z-index: 7;
                z-index: 1;
                height:50px;
                width: 50px;
            }
        }

        @include media(tablet){
            display:none;
        }
        @include media(desktop){
            display:none;
        }
    }
    &_navDesktop{
        background-color:$color-background-white;
        position: sticky;
        top: 0;
        width: 96vw;
        display: none;
        text-decoration: none;
        margin: 2vw;
        @include media(tablet){
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
        }
        @include media (desktop){
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
        }

        &_logoDesktop{
            width: 30vw;
            &_image{
                height: 40px;
            }
        }

        &_menu{
            width: 70vw;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-evenly;
            right: 0;
            margin-right: 6vw;
            
            & h2 {
                color: grey;
                font-size: 14px;
                text-decoration: none;
            }
            &_link{
                text-decoration: none;
                padding-left: 2vw;
                padding-right: 2vw;
                &:hover{
                    display: block;
                    background-color: rgba(226, 226, 226, 0.678);
                    border: 0px solid;
                    border-radius: 30px;
                    margin-left: 10px;
                    margin-right: 10px;
                    text-align: center;
                }
            }
            &_linkConnexion{
                border: 1px grey solid;
                border-radius: 30px;
                width: 15vw;
                text-align: center;
                background: $color-background-white;
                border: 1px solid grey;
                &:hover{
                    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
                }
            }
            &_linkInscription{
                background: $color-background-white;
                border: 0px solid;
                &:hover{
                    display: block;
                    background-color: rgba(226, 226, 226, 0.678);
                    border: 0px solid;
                    border-radius: 30px;
                    margin-left: 10px;
                    margin-right: 10px;
                    text-align: center;
                }
            }
        }
    }
    
}