.placeList{
    // background-color: yellow;
    width: 100vw;
    height: 90vh;
    overflow: hidden;
    overflow-y: scroll;
    &_appart{
        &_titre{
            color:$color-red;
            font-weight: 400;
            margin-left: 5%;
            margin-right: 5%;
        }
        &_item{
            // border:4px yellow solid;
            @include media (desktop){
                // background-color: blueviolet;
                height: 40%;
                margin:none;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
            }
        }
    }
}

.placeItem{
    // border:2px solid red;
    width: 92%;
    height: 60vh;
    margin-left: 4%;
    margin-right: 4%;
    @include media (tablet){
        border-top: 1px solid grey;
        // border:3px solid green;
        padding-top: 2rem;
        height: 43vh;
    }
    @include media (desktop){
        // background-color: blue;
        border:none;
        padding: none;
        margin:none;
        width: 20vw;
        height: 35vh;
    }
    &_link{
        text-decoration: none;
        @include media (tablet){
            display: flex;
            flex-direction: row;
            // align-items: center;
        }
        @include media (desktop){
            display: flex;
            flex-direction: column;
            // border:4px solid black;
        }
        &_image{
        //    border:3px solid cyan;
            width: 100%;
            height: 60%;
            @include media (tablet){
               width:55%;
               height: 16rem;
               padding-top: 1rem;
               padding-bottom: 1rem;
               margin-right: 1rem;
            }
            @include media (desktop){
                width:11rem;
                height: 7rem;
                padding:none;
            }
            &_appart{
            // border:2px solid orange;
            width: 99%;
            height: 100%;
            object-fit: cover;
            border-radius: 30px;
            @include media (tablet){
                // border:2px solid violet;
                // width: 100%;
                // height: 100%;
                border-radius: 30px;
            }
            @include media (desktop){
                border-radius: 5px;
            }
            }
        }    
        &_infos{
            color:black;
            text-decoration: none;
            width: 100%;
            height: 40%;
            @include media (tablet){
                // border:4px solid blue;
                width: 45%;
                height: 18rem;
                justify-items: center; 
            }
            @include media (desktop){
                width:10.9rem;
                height: 7rem;
                padding-right:0.1rem;
                font-size: 9px;
            }
            &_titre{
                // border:4px solid black;
               }
            &_details{
                display: none;
                height: 25%;
                @include media (tablet){
                    display: block;
                }
            }
            &_prix{
                // height: 25%;
                display: flex;
                @include media (tablet){
                    justify-content: flex-end;
                }
                @include media (desktop){
                    justify-content: flex-start;
                }
                & span{  
                    font-weight: bold;
                }
            }
        }
    }
}
