.signinForm {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &_email{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    &_password{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    &_submit{
        background-color: $color-red;
        color:white;
        margin-top: 2rem;
        text-align: center;
        width: 15vw;
        height: 6vh;
        border-radius: 5px;
        cursor: pointer;
        border: none;
        &:hover{
        opacity: 0.7;
        }
    }
}    
  
    



