.signinForm {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &_email{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    &_password{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}    
  
    



