.signupForm{
    // height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &_role{
        display: flex;
        flex-direction: column;
        align-items: center;
        & p{
            margin-top: 1rem;
            & select{
                border:color 2px solid;
            }
        }
    }
    &_firstName{
        display: flex;
        flex-direction: column;
        align-items: center;
        & p{
            margin-top: 1rem;
        }
    }
    &_lastName{
        display: flex;
        flex-direction: column;
        justify-content: center;
        & p{
            margin-top: 1rem;
        }
    }
    &_email{
        display: flex;
        flex-direction: column;
        justify-content: center;
        & p{
            margin-top: 1rem;
        }
    }
    &_password{
        display: flex;
        flex-direction: column;
        justify-content: center;
        & p{
            margin-top: 1rem;
        }
    }
}